# Lab 1: Introduction to Financial Python
## Xamir Rojas

# 01 Python: Data Types and Data Structures

## Strings

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [2]:
# Xamir
my_string1 = 'Hello World! I am '
my_string2 = "Xamir Rojas"
print(my_string1 + ' ' + my_string2)

Hello World! I am  Xamir Rojas

## Ints

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [4]:
# Xamir
xamir_int = 3
print(xamir_int)
print(type(xamir_int))

3
<class 'int'>

## Strings to Int, String to Float

In [5]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [6]:
# Xamir
xamir_string = "333"
print(type(xamir_string))
xamir_int = int(xamir_string)
print(type(xamir_int))

<class 'str'>
<class 'int'>

In [7]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [8]:
# Xamir
xamir_string = "333"
xamir_float = float(xamir_string)
print(type(xamir_float))
print(xamir_float)

<class 'float'>
333.0

## Bools

In [9]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [10]:
# Xamir
isStudent = True
print(isStudent)
print(type(isStudent))

True
<class 'bool'>

## Operations

In [11]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [12]:
# Xamir
print("Xamir Addition ", 3+3)
print("Xamir Subtraction ", 3-5)
print("Xamir Multiplication ", -1*3)
print("Xamir Division ", 13/3)
print('Xamir exponent', 2**8)

Xamir Addition  6
Xamir Subtraction  -2
Xamir Multiplication  -3
Xamir Division  4.333333333333333
Xamir exponent 256

In [13]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [14]:
# Xamir 
print(3/3)
print(3.0/3)
print(33/7)
print(33.0/7)

1.0
1.0
4.714285714285714
4.714285714285714

## Lists

In [15]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [16]:
# Xamir
xamir_list = ['Xamir', 'Rojas', 3.0, 3 , True, ["sub_list"]]
print(xamir_list)

['Xamir', 'Rojas', 3.0, 3, True, ['sub_list']]

In [17]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [18]:
# Xamir
xamir_list = ['Xamir', 'Rojas', 3.0, 3 , True, ["sub_list"]]
print("Number of items in Xamir's List :"+ str(len(xamir_list)))
print("First Item in Xamir's List" + str(xamir_list[0]))
print("Last item in the list" +str(xamir_list[len(xamir_list) -1]))

Number of items in Xamir's List :6
First Item in Xamir's ListXamir
Last item in the list['sub_list']

In [19]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [20]:
# Xamir
xamir_list = ['Xamir', 'Rojas', 3.0, 3 , True, ["sub_list"]]
xamir_list[2] = 'G'
print(xamir_list)

['Xamir', 'Rojas', 'G', 3, True, ['sub_list']]

In [21]:
my_list = ['Quant']
my_list.append('Connect')
print(my_list)
my_list.remove('Quant')
print(my_list)

['Quant', 'Connect']
['Connect']

In [22]:
# Xamir
xamir_list = ['X','A']
xamir_list.append('M')
print(xamir_list)
xamir_list.remove('A')
print(xamir_list)

['X', 'A', 'M']
['X', 'M']

### Lists slicing
https://numpy.org/doc/stable/reference/arrays.indexing.html#basic-slicing-and-indexing

In [23]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [24]:
# Xamir
xamir_list = ['Xamir', 'Rojas', 3.0, 3 , True, ["sub_list"]]
print(xamir_list[1:3])

['Rojas', 3.0]

In [25]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [26]:
# Xamir
print(xamir_list[1:])

['Rojas', 3.0, 3, True, ['sub_list']]

In [27]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [28]:
# Xamir
print(xamir_list)
print(xamir_list[:3])
print(xamir_list[1::2]) # Starting at 1 "jumpling" 2 positions
print(xamir_list[0::2]) # Starting at 0 "jumpling" 2 positions
print(xamir_list[0::3])# Starting at 0 "jumpling" 3 positions

['Xamir', 'Rojas', 3.0, 3, True, ['sub_list']]
['Xamir', 'Rojas', 3.0]
['Rojas', 3, ['sub_list']]
['Xamir', 3.0, True]
['Xamir', 3]

In [29]:
my_tuple = ('Welcome','to','QuantConnect')

In [30]:
# Xamir
xamir_tuple = ('This is', "Xamir's" , 'tuple')
print(xamir_tuple)

('This is', "Xamir's", 'tuple')

In [31]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [32]:
# tuples are consts. cant be modified
xamir_tuple = ('This is', "Xamir's" , 'tuple','tuple')
print(xamir_tuple[1:])

("Xamir's", 'tuple', 'tuple')

In [33]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'AAPL', 'FB', 'IBM', 'F'}

In [34]:
# sets doesnt repeat items
xamir_stock_list = ['TSLA','GOOG','TSLA','AAPL','TSLA','TSLA','F','GOOG']
xamir_stock_set = set(xamir_stock_list)
print(xamir_stock_set)

{'TSLA', 'GOOG', 'F', 'AAPL'}

In [35]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [36]:
# Xamir
xamir_dic = {'name':'xamir','subjects':[{'name':'AlG'},{'name':'MET'}]}
print(xamir_dic)
print(type(xamir_dic))

{'name': 'xamir', 'subjects': [{'name': 'AlG'}, {'name': 'MET'}]}
<class 'dict'>

In [37]:
print(my_dic['GOOG'])

Alphabet

In [38]:
# Xamir
xamir_dic['subjects'][0]

{'name': 'AlG'}

In [39]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [40]:
# Xamir
xamir_dic['subjects'][0] = 'ALGO'
print(xamir_dic['subjects'][0])

ALGO

In [41]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [42]:
# Xamir
print(xamir_dic.keys())
xamir_list_of_keys = xamir_dic.keys()
print(xamir_list_of_keys)

dict_keys(['name', 'subjects'])
dict_keys(['name', 'subjects'])

In [43]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [44]:
# Xamir
xamir_str = 'Xamir Rojas '
print(xamir_str[8:])

jas

In [45]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [46]:
# Xamir
print('In the next string x appears (times):' +str('Counting the number of x appears in this sentence: xamir'.count('x')))
print('The first time f appears in this sentence fff'.find('f'))
print('The first time f appears in this sentence fff'[:5])
print('all the s in this sentence now becomes z'.replace('s','z'))

In the next string x appears (times):2
4
The f
all the z in thiz zentence now becomez z

In [47]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [48]:
# Xamir
xamir_Time = '2021-10-16 20:08:00'
xamir_splited_list = xamir_Time.split(' ')
xamir_date = xamir_splited_list[0]
xamir_time = xamir_splited_list[1]
print(xamir_date, xamir_time)
xamir_hour = xamir_time.split(':')[0]
print(xamir_hour)

2021-10-16 20:08:00
20

In [49]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [50]:
# Xamir
xamir_time = 'Hour: {}, Minute:{}'.format('20','10')
print(xamir_time)

Hour: 20, Minute:10

In [51]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [52]:
# Xamir
print('the e number is %f'% 2.72)
print('%s to %s'%('Xamir','Rojas'))

the e number is 2.720000
Xamir to Rojas

# 02 Python: Logical Operations and Loops
[Tutorials / Introduction to Financial Python/ Logical Operations and Loops](https://www.quantconnect.com/tutorials/introduction-to-financial-python/logical-operations-and-loops)

In [53]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [54]:
# Xamir
print(1 == "1")
print([]==[])
print({}=={})
print(True == 1)
print({'name':'Xamir'}=={'name':'Xamir'})
print({'name':'Xamir'}!={'name':'xamir'})
print('xamir'>='xam')
print('xamir'>='xamir rojas')

False
True
True
True
True
True
True
False

In [55]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [56]:
# Xamir
print("2" > "1" and "3" > "2")
print(100 > 1 and 300 < 2) 
print(True < 1 or False < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [57]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [58]:
# Xamir
print(5<10<100)
isFalse = ("3" > "2" or 1 < 3) and ("1"!=1 and "XAMIR" > "xamir" ) and not ( 1 < 5 < 10 or 4 < 3 and (1!=3 and 4>3))
print(isFalse)
print(not isFalse)
print("a" is "a" and "a" is True)

True
False
True
False



```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

In [59]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [60]:
# Xamir
a = True
b = 1
if a == b:
  print('{} == {}'.format(a,b))

True == 1

In [61]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [62]:
# Xamir
x = 'xamir'
r = ''
if x and not r:
  print(" '{}' and not '{}' is True!".format(x,r))
elif x and r:
  print(" '{}' and  '{}' is False!".format(x,r))
elif x and not x:
  print(" '{}' and  not '{}' is False!".format(x,x))
else:
  print("x is '{}' and r is '{}!".format(x,r))

 'xamir' and not '' is True!

In [63]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [64]:
# Xamir
i = 0
while True:
  i+=1
  print(i)
  if i==8:
    break

1
2
3
4
5
6
7
8

In [65]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [66]:
# Xamir
for i in 'xamir':
  print(i)

x
a
m
i
r

In [67]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [68]:
# Xamir 
users = [{'name':'xamir'},{'name':'user 2'},{'name':' user 3'}]
premium_users = [{'name':'xamir'}]
non_premium_users = []
for i in users:
  if i not in premium_users:
    non_premium_users.append(i)
print(" Non premium users " + str(non_premium_users))

 Non premium users [{'name': 'user 2'}, {'name': ' user 3'}]

In [69]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print (i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [70]:
# Xamir
users = [{'name':'xamir'},{'name':'user 2'},{'name':' user 3'}]
for i in users:
  print(i['name'])
  if(i['name'] == 'user 2'):
    break

xamir
user 2

In [71]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [72]:
# Xamir
users = [{'name':'xamir'},{'name':'user 2'},{'name':' user 3'}]
for i in users:
  if i['name'] == 'user 2':
    print('I have found {}'.format(i['name']))
    continue
  print(i)

{'name': 'xamir'}
I have found user 2
{'name': ' user 3'}

## List Comprehension

In [73]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [74]:
# Xamir
base = [1,2,3,4,5]
results = []
for i in base:
  results.append(i**5)
print(results)

[1, 32, 243, 1024, 3125]

In [75]:
list_example = [1,2,3,4,5]
squares = [x**2 for x in list_example]
print(squares)

[1, 4, 9, 16, 25]

In [76]:
# Xamir
results = [x**10 for x in [5,6,7,8,9]]
print(results)

[9765625, 60466176, 282475249, 1073741824, 3486784401]

In [77]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [78]:
# Xamir
users = [{'name':'xamir'},{'name':'user 2'},{'name':' user 3'}]
premium_users = [{'name':'xamir'}]
non_premium_users = [x for x in users if x not in premium_users]
print(non_premium_users)

[{'name': 'user 2'}, {'name': ' user 3'}]

In [79]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [80]:
# Xamir
print([(x, y) for x in [2,4,6] for y in [1,3,5]])
print([x['name']+' vs '+ y['name'] for x in [{'name':'xamir'},{'name':'user 2'},{'name':' user 3'}] for y in [{'name':'xamir'},{'name':'user 2'},{'name':' user 3'}] if x!=y])

[(2, 1), (2, 3), (2, 5), (4, 1), (4, 3), (4, 5), (6, 1), (6, 3), (6, 5)]
['xamir vs user 2', 'xamir vs  user 3', 'user 2 vs xamir', 'user 2 vs  user 3', ' user 3 vs xamir', ' user 3 vs user 2']

# 03 Python:Functions and Objective-Oriented Programming
[Tutorials /  Introduction to Financial Python  /  Functions and Objective-Oriented Programming](https://www.quantconnect.com/tutorials/introduction-to-financial-python/functions-and-objective-oriented-programming)

In [81]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [82]:
# Xamir
def multiply_the_numbers (*args):
  total = 1
  for num in args:
    total *= num
  return total
print(multiply_the_numbers(2,3,4))
print(multiply_the_numbers(2,3,4,5,6,7,8,9,10,11,12))

24
479001600

In [83]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [84]:
# Xamir
def say_something():
  print('Something')
say_something()

Something

In [85]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [86]:
# Xamir
print(range(100))
print(range(-30,30))
print(range(-100,100,5))

range(0, 100)
range(-30, 30)
range(-100, 100, 5)

In [87]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [88]:
# Xamir
food = ['hamburguer','apple','banana']
print('The length of  is {}'.format(len(food)))
for i in range(len(food)):
    print(food[i])

The length of  is 3
hamburguer
apple
banana

**map(fun, iter)**
function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)
Parameters :
* fun : It is a function to which map passes each element of given iterable.
* iter : It is a iterable which is to be mapped.


```python
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
	return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))
#[2, 4, 6, 8]
```

In [89]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [90]:
# Xamir
def double(food_name):
  return food_name + food_name
food = ['hamburguer','apple','banana']
print(list(map(double,food)))

['hamburguerhamburguer', 'appleapple', 'bananabanana']

The lambda operator(lambda arguments : expression)is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [91]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [92]:
# Xamir
list(map(lambda x:x+x,food))

['hamburguerhamburguer', 'appleapple', 'bananabanana']

In [93]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [94]:
# Xamir
list(map(lambda x,y:x+y,"Hamburger","Banana"))

['HB', 'aa', 'mn', 'ba', 'un', 'ra']

In [95]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [96]:
# Xamir
sorted([1000.-50,0,29,True])

[0, True, 29, 950.0]

In [97]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [98]:
# Xamir
users = [{'name':' user 1', 'age':'22'},{'name':' user 2' ,'age':'19'},{'name':' user 3' ,'age':'25'},{'name':' user 4' ,'age':'40'}]
sorted(users, key = lambda x: x['age'])

[{'age': '19', 'name': ' user 2'},
 {'age': '22', 'name': ' user 1'},
 {'age': '25', 'name': ' user 3'},
 {'age': '40', 'name': ' user 4'}]

In [99]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [100]:
# Xamir
users = [{'name':' user 1', 'age':'22'},{'name':' user 2' ,'age':'19'},{'name':' user 3' ,'age':'25'},{'name':' user 4' ,'age':'40'}]
sorted(users, key = lambda x: x['age'], reverse=True)

[{'age': '40', 'name': ' user 4'},
 {'age': '25', 'name': ' user 3'},
 {'age': '22', 'name': ' user 1'},
 {'age': '19', 'name': ' user 2'}]

In [101]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [102]:
users = [{'name':'user 1', 'age':'22'},{'name':' user 2' ,'age':'19'},{'name':' user 3' ,'age':'25'},{'name':' user 4' ,'age':'40'}]
users.sort(key = lambda x: x['age'])
print(users)

[{'name': ' user 2', 'age': '19'}, {'name': 'user 1', 'age': '22'}, {'name': ' user 3', 'age': '25'}, {'name': ' user 4', 'age': '40'}]

In [103]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [104]:
# Xamir
class user:
    def __init__(self,name,age):
      self.name = name
      self.age = age
    def get_older(self,age):
      self.age = age
    def __str__(self):
      return('User name: {}, age: {}'.format(self.name,self.age))


xamir = user('xamir',22)
print(xamir)

User name: xamir, age: 22

In [105]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [106]:
# Xamir
user2 = user('user 2',30)
user3 = user('user 3',5)

In [107]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [108]:
# Xamir
print(user2.name)
user2.get_older(100)
print(user2)

user 2
User name: user 2, age: 100

In [109]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [110]:
# Xamir
user2.name = 'New user 2'
user2.name

'New user 2'

In [111]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [112]:
# Xamir
dir(user2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'get_older',
 'name']

In [113]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [114]:
# Xamir
class user_child(user):
    def __init__(self,name):
        self.name = name
    def new_method(self):
        print('new method!!')

In [115]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [116]:
# Xamir
user2_child = user_child('uwu')

print(user2_child.name)
user2_child.get_older(333)
print(user2_child.age)
print(user2_child)
user2_child.new_method()

uwu
333
User name: uwu, age: 333
new method!!

# 04 Python: NumPy and Basic Pandas
[Tutorials /  Introduction to Financial Python  /  NumPy and Basic Pandas](https://www.quantconnect.com/tutorials/introduction-to-financial-python/numpy-and-basic-pandas)

In [117]:
import numpy as np

In [118]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [119]:
# Xamir
"""
Array of values of the same type
ndarray = n dimensional array
"""
xamir_population_list = [300,200,900,700,-55.3,452.2,321,456,789,300]
xamir_population_array = np.array(xamir_population_list)
print(xamir_population_array,type(xamir_population_array))

[300.  200.  900.  700.  -55.3 452.2 321.  456.  789.  300. ] <class 'numpy.ndarray'>

In [120]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [121]:
# Xamir
"""
Multi-dimensional array
shape: tuple of ints
The elements of the shape tuple give the lengths of the corresponding array dimensions.
"""
xamir_matrix = np.array([
                         [[1,2,3],[4,5,6]],
                         [[7,8,9],[10,11,12]]
                         ])
print(xamir_matrix,type(xamir_matrix))

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]] <class 'numpy.ndarray'>

In [122]:
print(Ar.shape)

(2, 2)

In [123]:
# Xamir
"""
shape: tuple of ints
The elements of the shape tuple give the lengths of the corresponding array dimensions.
"""
print(xamir_matrix.shape)

(2, 2, 3)

In [124]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [125]:
# Xamir
print(xamir_matrix[0])
print(xamir_matrix[0][0])
print(xamir_matrix[0][0][0])

[[1 2 3]
 [4 5 6]]
[1 2 3]
1

In [126]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [127]:
# Xamir
"""
[:] all elements
"""
# in all rows choose first element (first column)
print('the first column: ', xamir_matrix[:,0]) 
# in all rows choose second element (second column)
print('the second column: ', xamir_matrix[:,1])
# in all rows, in all columns choose first element 
print('the second column: ', xamir_matrix[:,:,0])

the first column:  [[1 2 3]
 [7 8 9]]
the second column:  [[ 4  5  6]
 [10 11 12]]
the second column:  [[ 1  4]
 [ 7 10]]

In [128]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [129]:
# Xamir
"""
Array functions 
"""
print(np.log(xamir_matrix))

[[[0.         0.69314718 1.09861229]
  [1.38629436 1.60943791 1.79175947]]

 [[1.94591015 2.07944154 2.19722458]
  [2.30258509 2.39789527 2.48490665]]]

In [130]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [131]:
# Xamir
print(np.mean(xamir_matrix))
print(np.std(xamir_matrix))
print(np.sum(xamir_matrix))
print(np.max(xamir_matrix))

6.5
3.452052529534663
78
12

In [132]:
import pandas as pd

In [133]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [134]:
# Xamir
"""
indexing column 
"""
sr = pd.Series([33.3,77.7,224,100,10])
print(sr)
print(sr.values)
print(sr.index)
print(sr.shape)
sr[[0,4,2]]

0     33.3
1     77.7
2    224.0
3    100.0
4     10.0
dtype: float64
[ 33.3  77.7 224.  100.   10. ]
RangeIndex(start=0, stop=5, step=1)
(5,)

0     33.3
4     10.0
2    224.0
dtype: float64

In [135]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [136]:
# Xamir
xamir_serie = pd.Series([33.3,77.7,224,100,10],index = ["val 1","val 2","val 3","val 4","val 5"])
xamir_serie

val 1     33.3
val 2     77.7
val 3    224.0
val 4    100.0
val 5     10.0
dtype: float64

In [137]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [138]:
# Xamir
xamir_serie.index = [1,2,3,4,5]
xamir_serie

1     33.3
2     77.7
3    224.0
4    100.0
5     10.0
dtype: float64

In [139]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [140]:
# Xamir
print(xamir_serie[:])
print(xamir_serie[2:3])
print(xamir_serie[:3])
print(xamir_serie[0:])

1     33.3
2     77.7
3    224.0
4    100.0
5     10.0
dtype: float64
3    224.0
dtype: float64
1     33.3
2     77.7
3    224.0
dtype: float64
1     33.3
2     77.7
3    224.0
4    100.0
5     10.0
dtype: float64

In [141]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [142]:
# Xamir
xamir_serie[1] = 777
xamir_serie

1    777.0
2     77.7
3    224.0
4    100.0
5     10.0
dtype: float64

In [143]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [144]:
# Xamir
xamir_serie = pd.Series([33.3,77.7,224,100,10],index = ["val 1","val 2","val 3","val 4","val 5"], name="Xamir's Serie")
xamir_serie

val 1     33.3
val 2     77.7
val 3    224.0
val 4    100.0
val 5     10.0
Name: Xamir's Serie, dtype: float64

## Time Index

In [145]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [146]:
# Xamir
xamir_time_index = pd.date_range('2021-10-16',periods = len(xamir_serie),freq = 'D')
print(xamir_time_index)
xamir_serie.index = xamir_time_index
print(xamir_serie)

DatetimeIndex(['2021-10-16', '2021-10-17', '2021-10-18', '2021-10-19',
               '2021-10-20'],
              dtype='datetime64[ns]', freq='D')
2021-10-16     33.3
2021-10-17     77.7
2021-10-18    224.0
2021-10-19    100.0
2021-10-20     10.0
Freq: D, Name: Xamir's Serie, dtype: float64

## Accessing, iloc and loc 
Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [147]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [148]:
# Xamir
xamir_serie.index = [7,3,5,2,1]
print(xamir_serie)
xamir_serie[1] #using key

7     33.3
3     77.7
5    224.0
2    100.0
1     10.0
Name: Xamir's Serie, dtype: float64

10.0

In [149]:
print(s.iloc[1])

145.83

In [150]:
# Xamir
print(xamir_serie.iloc[1]) # accessing the position

77.7

In [151]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [152]:
# Xamir
xamir_serie.index = xamir_time_index
xamir_serie['2021-10-16']

33.3

In [153]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [154]:
# Xamir
print(xamir_serie['2021-10-16':'2021-10-18'])

2021-10-16     33.3
2021-10-17     77.7
2021-10-18    224.0
Freq: D, Name: Xamir's Serie, dtype: float64

## Index data with conditions int the square brackets
Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:
As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

In [155]:

print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [156]:
# Xamir
print("Xamir's Serie")
print(xamir_serie)
print("Mean of the serie : " +str(np.mean(xamir_serie)))
print("Items in xamir's serie < mean of the serie")
print(xamir_serie[xamir_serie < np.mean(xamir_serie)] )

Xamir's Serie
2021-10-16     33.3
2021-10-17     77.7
2021-10-18    224.0
2021-10-19    100.0
2021-10-20     10.0
Freq: D, Name: Xamir's Serie, dtype: float64
Mean of the serie : 89.0
Items in xamir's serie < mean of the serie
2021-10-16    33.3
2021-10-17    77.7
2021-10-20    10.0
Name: Xamir's Serie, dtype: float64

In [157]:
# Xamir 

print("Items in serie > mean of the serie")
print(xamir_serie[xamir_serie > np.mean(xamir_serie)])
print("Items in serie < ( mean of the serie + standard deviation of the serie)")
print(xamir_serie[xamir_serie < np.mean(xamir_serie) + 1.64*np.std(xamir_serie)])
print("Items in serie > mean of the serie AND Items in serie < ( mean of the serie + standard deviation of the serie)")
print(xamir_serie[(xamir_serie > np.mean(xamir_serie)) & (xamir_serie < np.mean(xamir_serie) + 1.64*np.std(xamir_serie))])

Items in serie > mean of the serie
2021-10-18    224.0
2021-10-19    100.0
Freq: D, Name: Xamir's Serie, dtype: float64
Items in serie < ( mean of the serie + standard deviation of the serie)
2021-10-16     33.3
2021-10-17     77.7
2021-10-19    100.0
2021-10-20     10.0
Name: Xamir's Serie, dtype: float64
Items in serie > mean of the serie AND Items in serie < ( mean of the serie + standard deviation of the serie)
2021-10-19    100.0
Freq: D, Name: Xamir's Serie, dtype: float64

# 05 Python:

In [158]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [159]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)

In [160]:
# Xamir
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)

In [161]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data

aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.76, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.23, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.191, 'beta3Year': None, 'enterpriseToEbitda': 22.502, '52WeekChange': 0.27286732, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58672, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3155439, 'priceToBook': 38.320454, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2496290881536, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.0833845, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.23633, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 146.55, 'regularMarketOpen': 147.01, 'twoHundredDayAverage': 139.00964, 'trailingAnnualDividendYield': 0.0056977137, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.17, 'navPrice': None, 'averageDailyVolume10Day': 73697228, 'regularMarketPreviousClose': 146.55, 'fiftyDayAverage': 146.47115, 'trailingAnnualDividendRate': 0.835, 'open': 147.01, 'toCurrency': None, 'averageVolume10days': 73697228, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.55, 'currency': 'USD', 'trailingPE': 29.122944, 'regularMarketVolume': 76378894, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2459032354816, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76845849, 'dayLow': 146.55, 'ask': 148.65, 'askSize': 1100, 'volume': 76378894, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.62, 'tradeable': False, 'dividendYield': 0.006, 'bidSize': 1000, 'dayHigh': 149.17, 'regularMarketPrice': 148.76, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379043  24.402096  23.609058  ...  223164000        0.0             0
2016-01-06  23.182565  23.599834  23.023498  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719193  22.848292  22.306536  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898671  41.059104  40.630480  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

In [162]:
# Xamir
import yfinance as yf

nvda = yf.Ticker("NVDA")

# get stock info
print(nvda.info)

# get historical market data
nvda_table = nvda.history(start="2020-01-01",  end="2021-01-01")
print('\033[94m' + "\n Result of nvda.history(start,end)" + '\033[0m')
print(nvda_table)
print('\033[94m' + "\n Using a DataFrame we can see that nvda.history returns" + '\033[0m')
nvda_df= pd.DataFrame(nvda_table)
print(nvda_df)
nvda_table

{'zip': '95051', 'sector': 'Technology', 'fullTimeEmployees': 18975, 'longBusinessSummary': "NVIDIA Corporation operates as a visual computing company worldwide. It operates in two segments, Graphics and Compute & Networking. The Graphics segment offers GeForce GPUs for gaming and PCs, the GeForce NOW game streaming service and related infrastructure, and solutions for gaming platforms; Quadro/NVIDIA RTX GPUs for enterprise design; GRID software for cloud-based visual and virtual computing; and automotive platforms for infotainment systems. The Compute & Networking segment offers Data Center platforms and systems for AI, HPC, and accelerated computing; Mellanox networking and interconnect solutions; automotive AI Cockpit, autonomous driving development agreements, and autonomous vehicle solutions; and Jetson for robotics and other embedded platforms. The company's products are used in gaming, professional visualization, datacenter, and automotive markets. NVIDIA Corporation sells its products to original equipment manufacturers, original device manufacturers, system builders, add-in board manufacturers, retailers/distributors, Internet and cloud service providers, automotive manufacturers and tier-1 automotive suppliers, mapping companies, start-ups, and other ecosystem participants. NVIDIA has partnership with Google Cloud to create AI-on-5G Lab. NVIDIA Corporation was founded in 1993 and is headquartered in Santa Clara, California.", 'city': 'Santa Clara', 'phone': '408 486 2000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.nvidia.com', 'maxAge': 1, 'address1': '2788 San Tomas Expressway', 'industry': 'Semiconductors', 'ebitdaMargins': 0.38759, 'profitMargins': 0.32324, 'grossMargins': 0.63758, 'operatingCashflow': 7902000128, 'revenueGrowth': 0.683, 'operatingMargins': 0.33488998, 'ebitda': 8487000064, 'targetLowPrice': 110, 'recommendationKey': 'buy', 'grossProfits': 10557000000, 'freeCashflow': 4634250240, 'targetMedianPrice': 230, 'currentPrice': 222.9, 'earningsGrowth': 2.76, 'currentRatio': 5.802, 'returnOnAssets': 0.1436, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 230.45, 'debtToEquity': 60.486, 'returnOnEquity': 0.40375, 'targetHighPrice': 300, 'totalCash': 19654000640, 'totalDebt': 12791000064, 'totalRevenue': 21897000960, 'totalCashPerShare': 7.862, 'financialCurrency': 'USD', 'revenuePerShare': 8.821, 'quickRatio': 5.225, 'recommendationMean': 2, 'exchange': 'NMS', 'shortName': 'NVIDIA Corporation', 'longName': 'NVIDIA Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'NVDA', 'messageBoardId': 'finmb_32307', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 25.058, 'beta3Year': None, 'enterpriseToEbitda': 64.65, '52WeekChange': 0.64808965, 'morningStarRiskRating': None, 'forwardEps': 4.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 2492000000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 8.472, 'sharesShort': 22415848, 'sharesPercentSharesOut': 0.009, 'fundFamily': None, 'lastFiscalYearEnd': 1612051200, 'heldPercentInstitutions': 0.66596, 'netIncomeToCommon': 7078000128, 'trailingEps': 2.792, 'lastDividendValue': 0.04, 'SandP52WeekChange': 0.3155439, 'priceToBook': 26.310198, 'heldPercentInsiders': 0.04078, 'nextFiscalYearEnd': 1675123200, 'yield': None, 'mostRecentQuarter': 1627776000, 'shortRatio': 0.93, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 2398375000, 'beta': 1.39365, 'enterpriseValue': 548686987264, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1626739200, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1630368000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 2.817, 'priceToSalesTrailing12Months': 25.367256, 'dateShortInterest': 1632960000, 'pegRatio': 1.66, 'ytdReturn': None, 'forwardPE': 47.628204, 'lastCapGain': None, 'shortPercentOfFloat': 0.0093, 'sharesShortPriorMonth': 24041114, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 222.22, 'regularMarketOpen': 222.76, 'twoHundredDayAverage': 186.96722, 'trailingAnnualDividendYield': 0.00072000717, 'payoutRatio': 0.0572, 'volume24Hr': None, 'regularMarketDayHigh': 223.78, 'navPrice': None, 'averageDailyVolume10Day': 18962371, 'regularMarketPreviousClose': 222.22, 'fiftyDayAverage': 216.28828, 'trailingAnnualDividendRate': 0.16, 'open': 222.76, 'toCurrency': None, 'averageVolume10days': 18962371, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.16, 'exDividendDate': 1630368000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 220.37, 'currency': 'USD', 'trailingPE': 79.83524, 'regularMarketVolume': 15928158, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 555466817536, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 25639875, 'dayLow': 220.37, 'ask': 223.09, 'askSize': 900, 'volume': 15928158, 'fiftyTwoWeekHigh': 230.43, 'fromCurrency': None, 'fiveYearAvgDividendYield': 0.28, 'fiftyTwoWeekLow': 115.665, 'bid': 222.81, 'tradeable': False, 'dividendYield': 0.0007, 'bidSize': 1300, 'dayHigh': 223.78, 'regularMarketPrice': 222.9, 'logo_url': 'https://logo.clearbit.com/nvidia.com'}

 Result of nvda.history(start,end)
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-02   59.544461   59.833767  ...        0.0             0
2020-01-03   58.634153   59.315016  ...        0.0             0
2020-01-06   57.940813   59.175346  ...        0.0             0
2020-01-07   59.407290   60.297653  ...        0.0             0
2020-01-08   59.796354   60.364988  ...        0.0             0
...                ...         ...  ...        ...           ...
2020-12-24  130.274683  131.226468  ...        0.0             0
2020-12-28  130.526979  130.526979  ...        0.0             0
2020-12-29  129.153030  130.626929  ...        0.0             0
2020-12-30  129.805030  132.038354  ...        0.0             0
2020-12-31  131.266448  131.411328  ...        0.0             0

[253 rows x 7 columns]

 Using a DataFrame we can see that nvda.history returns
                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-02   59.544461   59.833767  ...        0.0             0
2020-01-03   58.634153   59.315016  ...        0.0             0
2020-01-06   57.940813   59.175346  ...        0.0             0
2020-01-07   59.407290   60.297653  ...        0.0             0
2020-01-08   59.796354   60.364988  ...        0.0             0
...                ...         ...  ...        ...           ...
2020-12-24  130.274683  131.226468  ...        0.0             0
2020-12-28  130.526979  130.526979  ...        0.0             0
2020-12-29  129.153030  130.626929  ...        0.0             0
2020-12-30  129.805030  132.038354  ...        0.0             0
2020-12-31  131.266448  131.411328  ...        0.0             0

[253 rows x 7 columns]

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-02   59.544461   59.833767  ...        0.0             0
2020-01-03   58.634153   59.315016  ...        0.0             0
2020-01-06   57.940813   59.175346  ...        0.0             0
2020-01-07   59.407290   60.297653  ...        0.0             0
2020-01-08   59.796354   60.364988  ...        0.0             0
...                ...         ...  ...        ...           ...
2020-12-24  130.274683  131.226468  ...        0.0             0
2020-12-28  130.526979  130.526979  ...        0.0             0
2020-12-29  129.153030  130.626929  ...        0.0             0
2020-12-30  129.805030  132.038354  ...        0.0             0
2020-12-31  131.266448  131.411328  ...        0.0             0

[253 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [163]:
aapl = aapl_table['Close']['2017']

In [164]:
# Xamir 
nvda = nvda_table['High']['2020']

In [165]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480762
2017-01-06    27.787132
2017-01-09    28.041647
                ...
2017-12-22    41.906776
2017-12-26    40.843597
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

In [166]:
# Xamir
print(nvda)

Date
2020-01-02     59.833767
2020-01-03     59.315016
2020-01-06     59.175346
2020-01-07     60.297653
2020-01-08     60.364988
                 ...
2020-12-24    131.226468
2020-12-28    130.526979
2020-12-29    130.626929
2020-12-30    132.038354
2020-12-31    131.411328
Name: High, Length: 253, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [167]:
print(aapl['2017-3'])

Date
2017-03-01    33.086277
2017-03-02    32.889835
2017-03-03    33.083916
2017-03-06    32.979774
2017-03-07    33.022381
2017-03-08    32.899300
2017-03-09    32.823555
2017-03-10    32.932449
2017-03-13    32.946640
2017-03-14    32.896931
2017-03-15    33.244862
2017-03-16    33.299297
2017-03-17    33.133625
2017-03-20    33.481556
2017-03-21    33.098114
2017-03-22    33.472080
2017-03-23    33.353741
2017-03-24    33.287472
2017-03-27    33.344280
2017-03-28    34.035397
2017-03-29    34.111137
2017-03-30    34.066166
2017-03-31    34.002258
Name: Close, dtype: float64

In [168]:
# Xamir
# Year - Month
print(nvda['2020-1'])
print('\033[94m' + " Using frame.loc[string] instead of frame[string]" + '\033[0m')
"""/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: 
FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`,
 is deprecated and will be removed in a future version. Use `frame.loc[string]` instead."""
nvda.loc['2020-2']

Date
2020-01-02    59.833767
2020-01-03    59.315016
2020-01-06    59.175346
2020-01-07    60.297653
2020-01-08    60.364988
2020-01-09    61.335163
2020-01-10    61.988593
2020-01-13    63.095930
2020-01-14    62.669460
2020-01-15    62.023506
2020-01-16    62.143216
2020-01-17    62.350219
2020-01-21    62.173149
2020-01-22    63.245569
2020-01-23    63.148299
2020-01-24    64.719530
2020-01-27    60.417362
2020-01-28    62.168159
2020-01-29    62.060920
2020-01-30    61.439908
2020-01-31    60.966047
Name: High, dtype: float64
 Using frame.loc[string] instead of frame[string]

Date
2020-02-03    60.133051
2020-02-04    61.826477
2020-02-05    62.948786
2020-02-06    63.410175
2020-02-07    63.230607
2020-02-10    65.592435
2020-02-11    67.961738
2020-02-12    68.036565
2020-02-13    68.206161
2020-02-14    73.565782
2020-02-18    74.149383
2020-02-19    78.663538
2020-02-20    78.890492
2020-02-21    76.117157
2020-02-24    70.298626
2020-02-25    69.530467
2020-02-26    68.697483
2020-02-27    66.629870
2020-02-28    67.992401
Name: High, dtype: float64

In [169]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341730
2017-02-02    30.289883
2017-02-03    30.419497
2017-02-06    30.704647
2017-02-07    30.996880
                ...
2017-04-24    33.997517
2017-04-25    34.208172
2017-04-26    34.006981
2017-04-27    34.033028
2017-04-28    33.999897
Name: Close, Length: 61, dtype: float64

In [170]:
# Xamir 

print(nvda['2020-6':'2020-8'])
print('\033[94m' + " Using nvda.loc[string]" + '\033[0m')
nvda.loc['2020-6':'2020-8']

Date
2020-06-01     88.248395
2020-06-02     88.213445
2020-06-03     88.502928
2020-06-04     89.312291
2020-06-05     89.849078
                 ...
2020-08-25    127.440973
2020-08-26    128.512014
2020-08-27    128.327281
2020-08-28    131.303265
2020-08-31    135.567526
Name: High, Length: 65, dtype: float64
 Using nvda.loc[string]

Date
2020-06-01     88.248395
2020-06-02     88.213445
2020-06-03     88.502928
2020-06-04     89.312291
2020-06-05     89.849078
                 ...
2020-08-25    127.440973
2020-08-26    128.512014
2020-08-27    128.327281
2020-08-28    131.303265
2020-08-31    135.567526
Name: High, Length: 65, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [171]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480762
2017-01-06    27.787132
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244408
2017-12-19    41.794224
2017-12-20    41.748737
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843597
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522728
Name: Close, dtype: float64

In [172]:
# Xamir
print(nvda.head(2))
print(nvda.tail(3))

Date
2020-01-02    59.833767
2020-01-03    59.315016
Name: High, dtype: float64
Date
2020-12-29    130.626929
2020-12-30    132.038354
2020-12-31    131.411328
Name: High, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [173]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819261
2017-05-31    36.125683
2017-06-30    35.133982
2017-07-31    35.245241
2017-08-31    37.897228
2017-09-30    37.604736
2017-10-31    37.654550
2017-11-30    41.233915
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [174]:
# Xamir 
nvda_by_month = nvda.resample('M').std()
print(nvda_by_month)
nvda_by_month = nvda.resample('M').mean()
nvda_by_month

Date
2020-01-31    1.405757
2020-02-29    5.487433
2020-03-31    5.916788
2020-04-30    3.880026
2020-05-31    6.613445
2020-06-30    2.621902
2020-07-31    3.155152
2020-08-31    7.637566
2020-09-30    5.745637
2020-10-31    3.839714
2020-11-30    4.637830
2020-12-31    2.144169
Freq: M, Name: High, dtype: float64

Date
2020-01-31     61.663419
2020-02-29     68.730589
2020-03-31     62.965681
2020-04-30     70.770021
2020-05-31     83.161185
2020-06-30     92.312970
2020-07-31    103.569913
2020-08-31    121.036726
2020-09-30    130.935950
2020-10-31    137.840180
2020-11-30    136.023776
2020-12-31    133.507012
Freq: M, Name: High, dtype: float64

We can also aggregate the data by week:

In [175]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097735
2017-01-22    28.266115
2017-01-29    28.553981
2017-02-05    29.662544
Freq: W-SUN, Name: Close, dtype: float64

In [176]:
# Xamir 
nvda_by_day = nvda.resample('D').mean()
nvda_by_week = nvda.resample('W').mean()
nvda_by_week

Date
2020-01-05     59.574392
2020-01-12     60.632349
2020-01-19     62.456466
2020-01-26     63.321637
2020-02-02     61.410479
2020-02-09     62.309819
2020-02-16     68.672536
2020-02-23     76.955143
2020-03-01     68.629769
2020-03-08     69.631462
2020-03-15     62.598138
2020-03-22     55.098160
2020-03-29     62.701949
2020-04-05     65.607711
2020-04-12     67.940005
2020-04-19     71.748134
2020-04-26     72.317118
2020-05-03     74.647410
2020-05-10     75.577235
2020-05-17     81.652782
2020-05-24     90.222330
2020-05-31     88.466743
2020-06-07     88.825227
2020-06-14     91.772475
2020-06-21     92.826053
2020-06-28     95.342171
2020-07-05     94.982154
2020-07-12    102.719737
2020-07-19    104.026480
2020-07-26    105.069575
2020-08-02    105.317244
2020-08-09    112.969940
2020-08-16    114.722580
2020-08-23    124.641231
2020-08-30    128.906992
2020-09-06    138.556876
2020-09-13    127.559011
2020-09-20    129.721742
2020-09-27    126.568540
2020-10-04    134.657593
2020-10-11    139.482529
2020-10-18    142.182205
2020-10-25    137.415683
2020-11-01    132.908910
2020-11-08    137.250367
2020-11-15    138.190881
2020-11-22    135.525172
2020-11-29    132.914657
2020-12-06    135.543736
2020-12-13    133.565207
2020-12-20    134.048345
2020-12-27    132.687250
2021-01-03    131.150898
Freq: W-SUN, Name: High, dtype: float64

We can also aggregate the data by month with max:

In [177]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451965
2017-03-31    34.111137
2017-04-30    34.264973
2017-05-31    37.099133
2017-06-30    36.944645
2017-07-31    36.471706
2017-08-31    39.129723
2017-09-30    39.141647
2017-10-31    40.332256
2017-11-30    42.050140
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [178]:
# Xamir
print(nvda.resample('Y').max())
nvda.resample('M').max()

Date
2020-12-31    147.113532
Freq: A-DEC, Name: High, dtype: float64

Date
2020-01-31     64.719530
2020-02-29     78.890492
2020-03-31     71.094327
2020-04-30     75.913138
2020-05-31     91.652240
2020-06-30     96.295394
2020-07-31    107.777437
2020-08-31    135.567526
2020-09-30    147.113532
2020-10-31    143.335012
2020-11-30    146.761402
2020-12-31    137.209485
Freq: M, Name: High, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [179]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078176
2017-01-15    28.279667
                ...
2017-12-17    42.019316
2017-12-20    41.854097
2017-12-23          NaN
2017-12-26    40.886702
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172570
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595555
2017-03-19    33.017881
2017-04-02    33.625220
2017-04-16    33.849727
2017-04-30    33.791842
2017-05-14    35.697631
2017-05-28    36.496178
2017-06-11    36.515004
2017-06-25    34.529046
2017-07-09    34.265132
2017-07-23    35.278870
2017-08-06    36.272776
2017-08-20    37.904120
2017-09-03    38.458790
2017-09-17    38.282706
2017-10-01    36.840871
2017-10-15    37.071593
2017-10-29    37.757320
2017-11-12    41.032238
2017-11-26    41.204377
2017-12-10    40.867066
2017-12-24    41.620867
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056854
2017-07-31    35.186963
2017-09-30    37.761185
2017-11-30    39.402612
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [180]:
# Xamir 
nvda_five_day = nvda.resample('5D').mean()
nvda_three_week = nvda.resample('3W').mean()
nvda_four_month = nvda.resample('4M').mean()


print(nvda_five_day)
print(nvda_three_week)
print(nvda_four_month )

Date
2020-01-02     59.441377
2020-01-07     60.996599
2020-01-12     62.483028
2020-01-17     62.261684
2020-01-22     63.704466
                 ...
2020-12-07    133.565207
2020-12-12    134.199234
2020-12-17    133.747906
2020-12-22    132.383103
2020-12-27    131.150898
Freq: 5D, Name: High, Length: 73, dtype: float64
Date
2020-01-05     59.574392
2020-01-26     62.052187
2020-02-16     64.130945
2020-03-08     71.366195
2020-03-29     60.132749
2020-04-19     68.467089
2020-05-10     74.180588
2020-05-31     86.660181
2020-06-21     91.141252
2020-07-12     97.874154
2020-08-02    104.804433
2020-08-23    117.444584
2020-09-13    131.968242
2020-10-04    130.315958
2020-10-25    139.693472
2020-11-15    136.116719
2020-12-06    134.785941
2020-12-27    133.486912
2021-01-17    131.150898
Freq: 3W-SUN, Name: High, dtype: float64
Date
2020-01-31     61.663419
2020-05-31     71.225858
2020-09-30    111.637786
2021-01-31    135.783027
Freq: 4M, Name: High, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [181]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072529
2017-01-22    0.025557
2017-01-29    0.245287
2017-02-05    0.943262
2017-02-12    0.251999
2017-02-19    0.231390
2017-02-26    0.059344
2017-03-05    0.340092
2017-03-12    0.076288
2017-03-19    0.177834
2017-03-26    0.157266
2017-04-02    0.319805
2017-04-09    0.128687
2017-04-16    0.212472
2017-04-23    0.174673
2017-04-30    0.090025
2017-05-07    0.235640
2017-05-14    0.352982
2017-05-21    0.536093
2017-05-28    0.060389
2017-06-04    0.281222
2017-06-11    0.620031
2017-06-18    0.382566
2017-06-25    0.128892
2017-07-02    0.264108
2017-07-09    0.158890
2017-07-16    0.404282
2017-07-23    0.124990
2017-07-30    0.384444
2017-08-06    0.924392
2017-08-13    0.467468
2017-08-20    0.435253
2017-08-27    0.275767
2017-09-03    0.251721
2017-09-10    0.381635
2017-09-17    0.294141
2017-09-24    0.735194
2017-10-01    0.354846
2017-10-08    0.204856
2017-10-15    0.118731
2017-10-22    0.516998
2017-10-29    0.680454
2017-11-05    0.560684
2017-11-12    0.190970
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427445
2017-12-10    0.073128
2017-12-17    0.205267
2017-12-24    0.194127
2017-12-31    0.190395
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220751
2017-01-22    28.279667
2017-01-29    28.739214
2017-02-05    30.419497
2017-02-12    31.341906
2017-02-19    32.122971
2017-02-26    32.451965
2017-03-05    33.086277
2017-03-12    33.022381
2017-03-19    33.299297
2017-03-26    33.481556
2017-04-02    34.111137
2017-04-09    34.264973
2017-04-16    33.886280
2017-04-23    33.713505
2017-04-30    34.208172
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944645
2017-06-11    36.925629
2017-06-18    34.838959
2017-06-25    34.779541
2017-07-02    34.658325
2017-07-09    34.266193
2017-07-16    35.421223
2017-07-23    35.891808
2017-07-30    36.471706
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557098
2017-08-27    38.170574
2017-09-03    39.141647
2017-09-10    38.671612
2017-09-17    38.533234
2017-09-24    37.872322
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457161
2017-10-22    38.287479
2017-10-29    38.903057
2017-11-05    41.157784
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897198
2017-12-03    41.686474
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244408
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041647
2017-01-22    28.227816
2017-01-29    28.272598
2017-02-05    28.597811
2017-02-12    30.704647
2017-02-19    31.547831
2017-02-26    32.314686
2017-03-05    32.409359
2017-03-12    32.823555
2017-03-19    32.896931
2017-03-26    33.098114
2017-04-02    33.344280
2017-04-09    33.926510
2017-04-16    33.384514
2017-04-23    33.296928
2017-04-30    33.997517
2017-05-07    34.681541
2017-05-14    36.215260
2017-05-21    35.708797
2017-05-28    36.443188
2017-06-04    36.305336
2017-06-11    35.406975
2017-06-18    33.812256
2017-06-25    34.463455
2017-07-02    34.147354
2017-07-09    33.921577
2017-07-16    34.475330
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058716
2017-08-20    37.578846
2017-08-27    37.509655
2017-09-03    38.526081
2017-09-10    37.848469
2017-09-17    37.764950
2017-09-24    36.240322
2017-10-01    35.920605
2017-10-08    36.619690
2017-10-15    37.182774
2017-10-22    37.216183
2017-10-29    37.261520
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486813
2017-11-26    40.702320
2017-12-03    40.582588
2017-12-10    40.470055
2017-12-17    41.114182
2017-12-24    41.748737
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

In [182]:
# Xamir 
nvda_std = nvda.resample('M').std()
nvda_max = nvda.resample('M').max()
nvda_min = nvda.resample('M').min()


print(nvda_std)
print(nvda_max)
print(nvda_min)

Date
2020-01-31    1.405757
2020-02-29    5.487433
2020-03-31    5.916788
2020-04-30    3.880026
2020-05-31    6.613445
2020-06-30    2.621902
2020-07-31    3.155152
2020-08-31    7.637566
2020-09-30    5.745637
2020-10-31    3.839714
2020-11-30    4.637830
2020-12-31    2.144169
Freq: M, Name: High, dtype: float64
Date
2020-01-31     64.719530
2020-02-29     78.890492
2020-03-31     71.094327
2020-04-30     75.913138
2020-05-31     91.652240
2020-06-30     96.295394
2020-07-31    107.777437
2020-08-31    135.567526
2020-09-30    147.113532
2020-10-31    143.335012
2020-11-30    146.761402
2020-12-31    137.209485
Freq: M, Name: High, dtype: float64
Date
2020-01-31     59.175346
2020-02-29     60.133051
2020-03-31     52.390538
2020-04-30     63.792483
2020-05-31     72.095002
2020-06-30     88.213445
2020-07-31     95.628795
2020-08-31    110.838311
2020-09-30    125.094084
2020-10-31    129.229763
2020-11-30    128.233301
2020-12-31    130.102305
Freq: M, Name: High, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [183]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597811
2017-02-28    32.423557
2017-03-31    34.002258
2017-04-30    33.999897
2017-05-31    36.305336
2017-06-30    34.228165
2017-07-31    35.347557
2017-08-31    39.129723
2017-09-30    36.772388
2017-10-31    40.332256
2017-11-30    41.150108
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

In [184]:
# Xamir 
nvda_last_day = nvda.resample('M').agg(lambda x: x[-1])
print(nvda_last_day)

Date
2020-01-31     60.966047
2020-02-29     67.992401
2020-03-31     68.726090
2020-04-30     74.480709
2020-05-31     88.595261
2020-06-30     95.134436
2020-07-31    107.520276
2020-08-31    135.567526
2020-09-30    136.082595
2020-10-31    129.229763
2020-11-30    133.984779
2020-12-31    131.411328
Freq: M, Name: High, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [185]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [186]:
# Xamir 
nvda_monthly_return = nvda.resample('M').agg(lambda x: x[-1]/x[0] - 1)
nvda_monthly_return

Date
2020-01-31    0.018924
2020-02-29    0.130699
2020-03-31   -0.007889
2020-04-30    0.141208
2020-05-31    0.228868
2020-06-30    0.078030
2020-07-31    0.124350
2020-08-31    0.223111
2020-09-30   -0.026530
2020-10-31   -0.060035
2020-11-30    0.044852
2020-12-31   -0.027635
Freq: M, Name: High, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [187]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863363082269286
0.0522585487653816
0.09901848949416614

In [188]:
# Xamir
print(nvda_monthly_return.mean())
print(nvda_monthly_return.std())
print(nvda_monthly_return.max())

0.07232940546064781
0.09791367964074535
0.2288682799901085

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [189]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825747
2017-03-31    1.578701
2017-04-30   -0.002361
2017-05-31    2.305439
2017-06-30   -2.077171
2017-07-31    1.119392
2017-08-31    3.782166
2017-09-30   -2.357334
2017-10-31    3.559868
2017-11-30    0.817852
2017-12-31   -0.627380
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [190]:
# Xamir
# diff = x[n] - x[n-1]
print(nvda_last_day.diff())
# pct_change = he percentage change.
print(nvda_last_day.pct_change())

Date
2020-01-31          NaN
2020-02-29     7.026354
2020-03-31     0.733689
2020-04-30     5.754619
2020-05-31    14.114551
2020-06-30     6.539175
2020-07-31    12.385840
2020-08-31    28.047250
2020-09-30     0.515070
2020-10-31    -6.852833
2020-11-30     4.755016
2020-12-31    -2.573451
Freq: M, Name: High, dtype: float64
Date
2020-01-31         NaN
2020-02-29    0.115250
2020-03-31    0.010791
2020-04-30    0.083733
2020-05-31    0.189506
2020-06-30    0.073810
2020-07-31    0.130193
2020-08-31    0.260855
2020-09-30    0.003799
2020-10-31   -0.050358
2020-11-30    0.036795
2020-12-31   -0.019207
Freq: M, Name: High, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [191]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [192]:
# Xamir
# Fill na with 0
nvda_daily_return = nvda_last_day.pct_change()
nvda_daily_return.fillna(0)

Date
2020-01-31    0.000000
2020-02-29    0.115250
2020-03-31    0.010791
2020-04-30    0.083733
2020-05-31    0.189506
2020-06-30    0.073810
2020-07-31    0.130193
2020-08-31    0.260855
2020-09-30    0.003799
2020-10-31   -0.050358
2020-11-30    0.036795
2020-12-31   -0.019207
Freq: M, Name: High, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [193]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [194]:
# Xamir
# Backward fill
nvda_daily_return = nvda_last_day.pct_change()
temp_sr = pd.Series([0,2,4,56,np.nan,12])
print('\033[94m' + " Original Temporal Serie" + '\033[0m')
print(temp_sr)
print('\033[94m' + " Using Backward fill in Temporal Serie" + '\033[0m')
print(temp_sr.fillna(method = 'bfill'))
print('\033[94m' + " Using Backward fill in nvda daily return" + '\033[0m')
print(nvda_daily_return.fillna(method = 'bfill'))
print('\033[94m' + " Using Forckward fill in Temporal Serie" + '\033[0m')
print(temp_sr.fillna(method = 'ffill'))
print('\033[94m' + " Using Forckward fill in nvda daily return" + '\033[0m')
nvda_daily_return.fillna(method = 'ffill')

 Original Temporal Serie
0     0.0
1     2.0
2     4.0
3    56.0
4     NaN
5    12.0
dtype: float64
 Using Backward fill in Temporal Serie
0     0.0
1     2.0
2     4.0
3    56.0
4    12.0
5    12.0
dtype: float64
 Using Backward fill in nvda daily return
Date
2020-01-31    0.115250
2020-02-29    0.115250
2020-03-31    0.010791
2020-04-30    0.083733
2020-05-31    0.189506
2020-06-30    0.073810
2020-07-31    0.130193
2020-08-31    0.260855
2020-09-30    0.003799
2020-10-31   -0.050358
2020-11-30    0.036795
2020-12-31   -0.019207
Freq: M, Name: High, dtype: float64
 Using Forckward fill in Temporal Serie
0     0.0
1     2.0
2     4.0
3    56.0
4    56.0
5    12.0
dtype: float64
 Using Forckward fill in nvda daily return

Date
2020-01-31         NaN
2020-02-29    0.115250
2020-03-31    0.010791
2020-04-30    0.083733
2020-05-31    0.189506
2020-06-30    0.073810
2020-07-31    0.130193
2020-08-31    0.260855
2020-09-30    0.003799
2020-10-31   -0.050358
2020-11-30    0.036795
2020-12-31   -0.019207
Freq: M, Name: High, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [195]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [196]:
# Xamir 
nvda_daily_return = nvda_last_day.pct_change()
nvda_daily_return.dropna()

Date
2020-02-29    0.115250
2020-03-31    0.010791
2020-04-30    0.083733
2020-05-31    0.189506
2020-06-30    0.073810
2020-07-31    0.130193
2020-08-31    0.260855
2020-09-30    0.003799
2020-10-31   -0.050358
2020-11-30    0.036795
2020-12-31   -0.019207
Freq: M, Name: High, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames

The most common method of creating a DataFrame is passing a dictionary:

In [197]:
import pandas as pd

example_dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(example_dict, index = data_index)
df

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [198]:
# Xamir
import pandas as pd 
users_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
users_df = pd.DataFrame(users_data)
users_df.index = ['user 1','user 2','user 3','user 4','user 5','user 6','user 7']
users_df

        edad   cm pais genero    Q1  Q2
user 1    10  115   co      M   5.0   7
user 2     9  110   mx      F  10.0   9
user 3    13  130   co      F   8.0   9
user 4    14  155   mx      M   NaN   8
user 5    12  125   mx      M   7.0   8
user 6    11  120   ch      M   8.0   8
user 7    12  125   ch      F   3.0   9

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [199]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843597
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [200]:
# Xamir
nvda_df = nvda_table
print(nvda_df.tail(5))
print(nvda_df.High.tail(5))
print(nvda_df['Close'].tail(5))
print(nvda_df['Close']['2020-1'])
print(nvda_df['Close'].tail(5))
print(nvda_df['Close']['2020-1'])
print(nvda_df['2020-1']['Dividends'])

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-12-24  130.274683  131.226468  ...        0.0             0
2020-12-28  130.526979  130.526979  ...        0.0             0
2020-12-29  129.153030  130.626929  ...        0.0             0
2020-12-30  129.805030  132.038354  ...        0.0             0
2020-12-31  131.266448  131.411328  ...        0.0             0

[5 rows x 7 columns]
Date
2020-12-24    131.226468
2020-12-28    130.526979
2020-12-29    130.626929
2020-12-30    132.038354
2020-12-31    131.411328
Name: High, dtype: float64
Date
2020-12-24    129.840012
2020-12-28    128.903198
2020-12-29    129.335388
2020-12-30    131.358871
2020-12-31    130.452057
Name: Close, dtype: float64
Date
2020-01-02    59.833767
2020-01-03    58.876072
2020-01-06    59.122971
2020-01-07    59.838753
2020-01-08    59.950985
2020-01-09    60.609409
2020-01-10    60.933628
2020-01-13    62.844032
2020-01-14    61.671856
2020-01-15    61.245377
2020-01-16    62.083359
2020-01-17    62.170650
2020-01-21    61.836460
2020-01-22    62.377655
2020-01-23    63.063503
2020-01-24    62.469933
2020-01-27    59.906090
2020-01-28    61.843937
2020-01-29    61.237896
2020-01-30    61.305229
2020-01-31    58.965851
Name: Close, dtype: float64
Date
2020-12-24    129.840012
2020-12-28    128.903198
2020-12-29    129.335388
2020-12-30    131.358871
2020-12-31    130.452057
Name: Close, dtype: float64
Date
2020-01-02    59.833767
2020-01-03    58.876072
2020-01-06    59.122971
2020-01-07    59.838753
2020-01-08    59.950985
2020-01-09    60.609409
2020-01-10    60.933628
2020-01-13    62.844032
2020-01-14    61.671856
2020-01-15    61.245377
2020-01-16    62.083359
2020-01-17    62.170650
2020-01-21    61.836460
2020-01-22    62.377655
2020-01-23    63.063503
2020-01-24    62.469933
2020-01-27    59.906090
2020-01-28    61.843937
2020-01-29    61.237896
2020-01-30    61.305229
2020-01-31    58.965851
Name: Close, dtype: float64
Date
2020-01-02    0.0
2020-01-03    0.0
2020-01-06    0.0
2020-01-07    0.0
2020-01-08    0.0
2020-01-09    0.0
2020-01-10    0.0
2020-01-13    0.0
2020-01-14    0.0
2020-01-15    0.0
2020-01-16    0.0
2020-01-17    0.0
2020-01-21    0.0
2020-01-22    0.0
2020-01-23    0.0
2020-01-24    0.0
2020-01-27    0.0
2020-01-28    0.0
2020-01-29    0.0
2020-01-30    0.0
2020-01-31    0.0
Name: Dividends, dtype: float64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [201]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
aapl_month

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431524  25.473245  25.236823  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226407  23.412965  23.044514  ...  169228800        0.0             0
2016-06-30  22.023110  22.333260  21.990462  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367382  26.580742  26.212639  ...  145516400        0.0             0
2016-10-31  26.646391  26.782378  26.540882  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490195  27.619809  27.202685  ...  122345200        0.0             0

[12 rows x 7 columns]

In [202]:
# Xamir
nvda_month = nvda_df.resample('M').agg(lambda x: x[-1])
nvda_month

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-31   60.846336   60.966047  ...        0.0             0
2020-02-29   60.505904   67.992401  ...        0.0             0
2020-03-31   66.679784   68.726090  ...        0.0             0
2020-04-30   73.939190   74.480709  ...        0.0             0
2020-05-31   85.391039   88.595261  ...        0.0             0
2020-06-30   93.014792   95.134436  ...        0.0             0
2020-07-31  105.490507  107.520276  ...        0.0             0
2020-08-31  131.650298  135.567526  ...        0.0             0
2020-09-30  131.437447  136.082595  ...        0.0             0
2020-10-31  128.365662  129.229763  ...        0.0             0
2020-11-30  132.511315  133.984779  ...        0.0             0
2020-12-31  131.266448  131.411328  ...        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [203]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023110  22.333260  21.990462  22.293617
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490195  27.619809  27.202685  27.294594

In [204]:
# Xamir
nvda_bar = nvda_month['Open']
print(nvda_bar)
nvda_bar = nvda_month[['Open', 'High', 'Low', 'Close']]
nvda_bar

Date
2020-01-31     60.846336
2020-02-29     60.505904
2020-03-31     66.679784
2020-04-30     73.939190
2020-05-31     85.391039
2020-06-30     93.014792
2020-07-31    105.490507
2020-08-31    131.650298
2020-09-30    131.437447
2020-10-31    128.365662
2020-11-30    132.511315
2020-12-31    131.266448
Freq: M, Name: Open, dtype: float64

                  Open        High         Low       Close
Date
2020-01-31   60.846336   60.966047   58.546859   58.965851
2020-02-29   60.505904   67.992401   60.338702   67.395981
2020-03-31   66.679784   68.726090   64.321533   65.781403
2020-04-30   73.939190   74.480709   72.798744   72.938492
2020-05-31   85.391039   88.595261   84.697290   88.595261
2020-06-30   93.014792   95.134436   92.540432   94.849823
2020-07-31  105.490507  107.520276  104.189760  106.004814
2020-08-31  131.650298  135.567526  130.202250  133.565216
2020-09-30  131.437447  136.082595  131.365029  135.163544
2020-10-31  128.365662  129.229763  122.871411  125.208961
2020-11-30  132.511315  133.984779  129.586885  133.874893
2020-12-31  131.266448  131.411328  129.053098  130.452057

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [205]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023110  22.333260  21.990462  22.293617

In [206]:
# Xamir
nvda_month.loc['2020-03':'2020-05',['Open', 'High', 'Low', 'Close']]

                 Open       High        Low      Close
Date
2020-03-31  66.679784  68.726090  64.321533  65.781403
2020-04-30  73.939190  74.480709  72.798744  72.938492
2020-05-31  85.391039  88.595261  84.697290  88.595261

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [207]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490195  27.619809  27.202685  27.294594

In [208]:
# Xamir
import numpy as np

nvda_above = nvda_bar[nvda_bar.Close > np.mean(nvda_bar.Close)]
print(nvda_above)
nvda_above = nvda_bar[nvda_bar['Close'] > np.mean(nvda_bar['Close'])]
nvda_above
# using query()
above_query = 'Close > {}'.format(np.mean(nvda_above.Close))
nvda_above = nvda_bar.query(above_query)
nvda_above

                  Open        High         Low       Close
Date
2020-07-31  105.490507  107.520276  104.189760  106.004814
2020-08-31  131.650298  135.567526  130.202250  133.565216
2020-09-30  131.437447  136.082595  131.365029  135.163544
2020-10-31  128.365662  129.229763  122.871411  125.208961
2020-11-30  132.511315  133.984779  129.586885  133.874893
2020-12-31  131.266448  131.411328  129.053098  130.452057

                  Open        High         Low       Close
Date
2020-08-31  131.650298  135.567526  130.202250  133.565216
2020-09-30  131.437447  136.082595  131.365029  135.163544
2020-11-30  132.511315  133.984779  129.586885  133.874893
2020-12-31  131.266448  131.411328  129.053098  130.452057

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [209]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [210]:
# Xamir
nvda_bar['rate_return'] = nvda_bar.Close.pct_change()
nvda_bar

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  Open        High         Low       Close  rate_return
Date
2020-01-31   60.846336   60.966047   58.546859   58.965851          NaN
2020-02-29   60.505904   67.992401   60.338702   67.395981     0.142966
2020-03-31   66.679784   68.726090   64.321533   65.781403    -0.023957
2020-04-30   73.939190   74.480709   72.798744   72.938492     0.108801
2020-05-31   85.391039   88.595261   84.697290   88.595261     0.214657
2020-06-30   93.014792   95.134436   92.540432   94.849823     0.070597
2020-07-31  105.490507  107.520276  104.189760  106.004814     0.117607
2020-08-31  131.650298  135.567526  130.202250  133.565216     0.259992
2020-09-30  131.437447  136.082595  131.365029  135.163544     0.011967
2020-10-31  128.365662  129.229763  122.871411  125.208961    -0.073648
2020-11-30  132.511315  133.984779  129.586885  133.874893     0.069212
2020-12-31  131.266448  131.411328  129.053098  130.452057    -0.025567

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [211]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [212]:
# Xamir
nvda_missing = nvda_bar.isnull()
print(nvda_missing)
nvda_missing.describe()

             Open   High    Low  Close  rate_return
Date
2020-01-31  False  False  False  False         True
2020-02-29  False  False  False  False        False
2020-03-31  False  False  False  False        False
2020-04-30  False  False  False  False        False
2020-05-31  False  False  False  False        False
2020-06-30  False  False  False  False        False
2020-07-31  False  False  False  False        False
2020-08-31  False  False  False  False        False
2020-09-30  False  False  False  False        False
2020-10-31  False  False  False  False        False
2020-11-30  False  False  False  False        False
2020-12-31  False  False  False  False        False

         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [213]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [214]:
# Xamir
nvda_missing[nvda_missing.rate_return == True]

             Open   High    Low  Close  rate_return
Date
2020-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [215]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

In [216]:
# Xamir
drop = nvda_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = nvda_bar.fillna(0)
fill

                  Open        High         Low       Close  rate_return
Date
2020-02-29   60.505904   67.992401   60.338702   67.395981     0.142966
2020-03-31   66.679784   68.726090   64.321533   65.781403    -0.023957
2020-04-30   73.939190   74.480709   72.798744   72.938492     0.108801
2020-05-31   85.391039   88.595261   84.697290   88.595261     0.214657
2020-06-30   93.014792   95.134436   92.540432   94.849823     0.070597
2020-07-31  105.490507  107.520276  104.189760  106.004814     0.117607
2020-08-31  131.650298  135.567526  130.202250  133.565216     0.259992
2020-09-30  131.437447  136.082595  131.365029  135.163544     0.011967
2020-10-31  128.365662  129.229763  122.871411  125.208961    -0.073648
2020-11-30  132.511315  133.984779  129.586885  133.874893     0.069212
2020-12-31  131.266448  131.411328  129.053098  130.452057    -0.025567

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2020-01-31   60.846336   60.966047   58.546859   58.965851     0.000000
2020-02-29   60.505904   67.992401   60.338702   67.395981     0.142966
2020-03-31   66.679784   68.726090   64.321533   65.781403    -0.023957
2020-04-30   73.939190   74.480709   72.798744   72.938492     0.108801
2020-05-31   85.391039   88.595261   84.697290   88.595261     0.214657
2020-06-30   93.014792   95.134436   92.540432   94.849823     0.070597
2020-07-31  105.490507  107.520276  104.189760  106.004814     0.117607
2020-08-31  131.650298  135.567526  130.202250  133.565216     0.259992
2020-09-30  131.437447  136.082595  131.365029  135.163544     0.011967
2020-10-31  128.365662  129.229763  122.871411  125.208961    -0.073648
2020-11-30  132.511315  133.984779  129.586885  133.874893     0.069212
2020-12-31  131.266448  131.411328  129.053098  130.452057    -0.025567

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [217]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [218]:
# Xamir
s1 = pd.Series([1,2,3,4,5,6,7,8,9], name= 'ALGO')
s2 = pd.Series([91,82,73,64,55,46,37,28,19], name= 'MN')
data_frame = pd.concat([s1,s2], axis = 1)
data_frame

   ALGO  MN
0     1  91
1     2  82
2     3  73
3     4  64
4     5  55
5     6  46
6     7  37
7     8  28
8     9  19

The "axis = 1" parameter will join two DataFrames by columns:

In [219]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773   3.147897
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660   3.104300
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504   3.277360
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334   3.281685
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955   3.306689

In [220]:
# Xamir
nvda_log_price = np.log(nvda_bar.Close)
nvda_log_price.name = 'log_price'
print(nvda_log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([nvda_bar, nvda_log_price], axis = 1)
concat

Date
2020-01-31    4.076958
2020-02-29    4.210585
2020-03-31    4.186337
2020-04-30    4.289617
2020-05-31    4.484078
2020-06-30    4.552295
2020-07-31    4.663485
2020-08-31    4.894590
2020-09-30    4.906485
2020-10-31    4.829984
2020-11-30    4.896906
2020-12-31    4.871006
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2020-01-31   60.846336   60.966047  ...          NaN   4.076958
2020-02-29   60.505904   67.992401  ...     0.142966   4.210585
2020-03-31   66.679784   68.726090  ...    -0.023957   4.186337
2020-04-30   73.939190   74.480709  ...     0.108801   4.289617
2020-05-31   85.391039   88.595261  ...     0.214657   4.484078
2020-06-30   93.014792   95.134436  ...     0.070597   4.552295
2020-07-31  105.490507  107.520276  ...     0.117607   4.663485
2020-08-31  131.650298  135.567526  ...     0.259992   4.894590
2020-09-30  131.437447  136.082595  ...     0.011967   4.906485
2020-10-31  128.365662  129.229763  ...    -0.073648   4.829984
2020-11-30  132.511315  133.984779  ...     0.069212   4.896906
2020-12-31  131.266448  131.411328  ...    -0.025567   4.871006

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [221]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490195  27.619809  27.202685  27.294594
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444858  32.530065  32.354916  32.423557
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104039  34.153745  33.909959  33.999897

In [222]:
# Xamir 
nvda_df_volume = nvda_table.loc['2020-3':'2020-09',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(nvda_df_volume)
print('\n---------------------- separate line--------------------\n')
nvda_df_2020 = nvda_table.loc['2020-6':'2020-12',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
nvda_df_2020

              Volume  Stock Splits
Date
2020-03-31  94996000             0
2020-04-30  37591600             0
2020-05-31  74525600             0
2020-06-30  36789200             0
2020-07-31  38608000             0
2020-08-31  50084000             0
2020-09-30  68918400             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2020-06-30   93.014792   95.134436   92.540432   94.849823
2020-07-31  105.490507  107.520276  104.189760  106.004814
2020-08-31  131.650298  135.567526  130.202250  133.565216
2020-09-30  131.437447  136.082595  131.365029  135.163544
2020-10-31  128.365662  129.229763  122.871411  125.208961
2020-11-30  132.511315  133.984779  129.586885  133.874893
2020-12-31  131.266448  131.411328  129.053098  130.452057

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [223]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431524  25.473245  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226407  23.412965  ...          NaN           NaN
2016-06-30  22.023110  22.333260  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367382  26.580742  ...          NaN           NaN
2016-10-31  26.646391  26.782378  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490195  27.619809  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [224]:
# Xamir
concat = pd.concat([nvda_bar, nvda_df_volume], axis = 1)
concat

                  Open        High  ...      Volume  Stock Splits
Date                                ...
2020-01-31   60.846336   60.966047  ...         NaN           NaN
2020-02-29   60.505904   67.992401  ...         NaN           NaN
2020-03-31   66.679784   68.726090  ...  94996000.0           0.0
2020-04-30   73.939190   74.480709  ...  37591600.0           0.0
2020-05-31   85.391039   88.595261  ...  74525600.0           0.0
2020-06-30   93.014792   95.134436  ...  36789200.0           0.0
2020-07-31  105.490507  107.520276  ...  38608000.0           0.0
2020-08-31  131.650298  135.567526  ...  50084000.0           0.0
2020-09-30  131.437447  136.082595  ...  68918400.0           0.0
2020-10-31  128.365662  129.229763  ...         NaN           NaN
2020-11-30  132.511315  133.984779  ...         NaN           NaN
2020-12-31  131.266448  131.411328  ...         NaN           NaN

[12 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [225]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646391  26.782378  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490195  27.619809  ...  122345200             0

[3 rows x 7 columns]

In [226]:
# Xamir 
concat = pd.concat([nvda_bar,nvda_df_volume],axis = 1, join = 'inner')
concat

                  Open        High  ...    Volume  Stock Splits
Date                                ...
2020-03-31   66.679784   68.726090  ...  94996000             0
2020-04-30   73.939190   74.480709  ...  37591600             0
2020-05-31   85.391039   88.595261  ...  74525600             0
2020-06-30   93.014792   95.134436  ...  36789200             0
2020-07-31  105.490507  107.520276  ...  38608000             0
2020-08-31  131.650298  135.567526  ...  50084000             0
2020-09-30  131.437447  136.082595  ...  68918400             0

[7 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [227]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646391  26.782378  26.540882  26.620600          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444858  32.530065  32.354916  32.423557          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

In [228]:
# Xamir
append = nvda_bar.append(nvda_df_2020)
append

                  Open        High         Low       Close  rate_return
Date
2020-01-31   60.846336   60.966047   58.546859   58.965851          NaN
2020-02-29   60.505904   67.992401   60.338702   67.395981     0.142966
2020-03-31   66.679784   68.726090   64.321533   65.781403    -0.023957
2020-04-30   73.939190   74.480709   72.798744   72.938492     0.108801
2020-05-31   85.391039   88.595261   84.697290   88.595261     0.214657
2020-06-30   93.014792   95.134436   92.540432   94.849823     0.070597
2020-07-31  105.490507  107.520276  104.189760  106.004814     0.117607
2020-08-31  131.650298  135.567526  130.202250  133.565216     0.259992
2020-09-30  131.437447  136.082595  131.365029  135.163544     0.011967
2020-10-31  128.365662  129.229763  122.871411  125.208961    -0.073648
2020-11-30  132.511315  133.984779  129.586885  133.874893     0.069212
2020-12-31  131.266448  131.411328  129.053098  130.452057    -0.025567
2020-06-30   93.014792   95.134436   92.540432   94.849823          NaN
2020-07-31  105.490507  107.520276  104.189760  106.004814          NaN
2020-08-31  131.650298  135.567526  130.202250  133.565216          NaN
2020-09-30  131.437447  136.082595  131.365029  135.163544          NaN
2020-10-31  128.365662  129.229763  122.871411  125.208961          NaN
2020-11-30  132.511315  133.984779  129.586885  133.874893          NaN
2020-12-31  131.266448  131.411328  129.053098  130.452057          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [229]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646391  26.782378  26.540882  26.620600          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444858  32.530065  32.354916  32.423557          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

In [230]:
# Xamir
concat = pd.concat([nvda_bar, nvda_df_2020], axis = 0)
concat

                  Open        High         Low       Close  rate_return
Date
2020-01-31   60.846336   60.966047   58.546859   58.965851          NaN
2020-02-29   60.505904   67.992401   60.338702   67.395981     0.142966
2020-03-31   66.679784   68.726090   64.321533   65.781403    -0.023957
2020-04-30   73.939190   74.480709   72.798744   72.938492     0.108801
2020-05-31   85.391039   88.595261   84.697290   88.595261     0.214657
2020-06-30   93.014792   95.134436   92.540432   94.849823     0.070597
2020-07-31  105.490507  107.520276  104.189760  106.004814     0.117607
2020-08-31  131.650298  135.567526  130.202250  133.565216     0.259992
2020-09-30  131.437447  136.082595  131.365029  135.163544     0.011967
2020-10-31  128.365662  129.229763  122.871411  125.208961    -0.073648
2020-11-30  132.511315  133.984779  129.586885  133.874893     0.069212
2020-12-31  131.266448  131.411328  129.053098  130.452057    -0.025567
2020-06-30   93.014792   95.134436   92.540432   94.849823          NaN
2020-07-31  105.490507  107.520276  104.189760  106.004814          NaN
2020-08-31  131.650298  135.567526  130.202250  133.565216          NaN
2020-09-30  131.437447  136.082595  131.365029  135.163544          NaN
2020-10-31  128.365662  129.229763  122.871411  125.208961          NaN
2020-11-30  132.511315  133.984779  129.586885  133.874893          NaN
2020-12-31  131.266448  131.411328  129.053098  130.452057          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [231]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773        NaN
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504        NaN
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955        NaN
2016-10-31        NaN  26.782378  26.540882  26.620600          NaN  26.646391
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619809  27.202685  27.294594          NaN  27.490195
2017-01-31        NaN  28.607238  28.425777  28.597811          NaN  28.550679
2017-02-28        NaN  32.530065  32.354916  32.423557          NaN  32.444858
2017-03-31        NaN  34.146637  33.848410  34.002258          NaN  34.016459
2017-04-30        NaN  34.153745  33.909959  33.999897          NaN  34.104039

In [232]:
# Xamir
nvda_df_2020.columns = ['Change', 'High','Low','Close']
concat = pd.concat([nvda_bar, nvda_df_2020], axis = 0)
concat

                  Open        High  ...  rate_return      Change
Date                                ...
2020-01-31   60.846336   60.966047  ...          NaN         NaN
2020-02-29   60.505904   67.992401  ...     0.142966         NaN
2020-03-31   66.679784   68.726090  ...    -0.023957         NaN
2020-04-30   73.939190   74.480709  ...     0.108801         NaN
2020-05-31   85.391039   88.595261  ...     0.214657         NaN
2020-06-30   93.014792   95.134436  ...     0.070597         NaN
2020-07-31  105.490507  107.520276  ...     0.117607         NaN
2020-08-31  131.650298  135.567526  ...     0.259992         NaN
2020-09-30  131.437447  136.082595  ...     0.011967         NaN
2020-10-31  128.365662  129.229763  ...    -0.073648         NaN
2020-11-30  132.511315  133.984779  ...     0.069212         NaN
2020-12-31  131.266448  131.411328  ...    -0.025567         NaN
2020-06-30         NaN   95.134436  ...          NaN   93.014792
2020-07-31         NaN  107.520276  ...          NaN  105.490507
2020-08-31         NaN  135.567526  ...          NaN  131.650298
2020-09-30         NaN  136.082595  ...          NaN  131.437447
2020-10-31         NaN  129.229763  ...          NaN  128.365662
2020-11-30         NaN  133.984779  ...          NaN  132.511315
2020-12-31         NaN  131.411328  ...          NaN  131.266448

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.